@import '../components/form-project';
@import '../components/card';
@import '../components/task';
@import '../components/select';
section{
	margin: 0 auto;
	width: 85%;
	padding: 1em;
}

.list-card{
	display: grid;
	grid-template-columns:repeat(10, 20%);
	gap: 3em;
}