.input-text{
	border: none;
	box-shadow: 0 0 5px $boxShadow;
	border-radius: $radius;
	background-color: $backgroundInput;
	max-width: 60%;
	max-height: 10em;
	padding: $padding;
	margin: 1em;

}

textArea{
	@extend .input-text
}

.input-date{
	margin: 1em;
	padding: $padding;
	border-radius: 1em;
}

#name-project{
	text-align: center;
}