@import '../utils/variables';
@import '../utils/mixins';



.task{
	@include styleCard;
}
.to-do {
	@include styleCard;
	background-color: red;
}
.doing {
	@include styleCard;
	background-color: orange;
}
.done {
	@include styleCard;
	background-color: green;
}